.BH70 {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: auto;
  height: 100vw;
  max-height: 600px;

}

.BH70 img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;

}

.BH70 .sizeofcontent {
  width: 100%;
  max-width: 918px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.BH70 h1 {
  position: absolute;
  top: 5%;
  left: 1%;

  font-size: 32px;
}

.BH70 h2 {
  position: absolute;
  top: 12%;
  left: 1%;

  font-size: 20px;
}

.BH70 .ytube iframe {
  position: absolute;
  top: 38%;
  left: 1%;
  width: 40%;
  min-width: 250px;
  height: 33%;
}

.BH70 .ytube a {
  position: absolute;
  top: 38%;
  left: 1%;
  width: 40%;
  min-width: 250px;
  height: 33%;

}

.BH70 .video h5 {
  position: absolute;
  top: 25%;
  left: 1%;

  font-size: 20px;
}

.BH70 .cata h5 {
  position: absolute;
  top: 80%;
  left: 1%;

  font-size: 20px;
}

.BH70 .download a {
  position: absolute;
  top: 85%;
  left: 1%;

  font-size: 20px;
}

.BH70 .pic {
  position: absolute;
  top: 15%;
  left: 45%;
  width: 55%;
  height: 42%;

}

.BH70 .pics .img {
  width: 100%;
  height: 100%;

}

.BH70 .spec h5 {
  position: absolute;
  top: 60%;
  left: 45%;

  font-size: 20px;
}

.BH70 .specimg .img {
  width: 100%;
  height: 100%;
}

.BH70 .specimg {
  position: absolute;
  top: 72%;
  left: 45%;
  width: 55%;
  height: 25%;
}

.BH70 .caution p {
  position: absolute;
  top: 88%;
  left: 45%;

  font-size: 12px;
}

/*スマホ用css*/
.BH70sp {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  min-height: 800px;

}

.BH70sp img {
  width: 100%;
  height: 100%;

}

.BH70sp h1 {
  position: absolute;
  top: -0.5%;
  left: 3%;

  font-size: 30px;
}

.BH70sp h2 {
  position: absolute;
  top: 2.5%;
  left: 3%;

  font-size: 16px;
}

.BH70sp .ytube iframe {
  position: absolute;
  top: 9%;
  width: 94%;
  height: 30%;
  left: 3%;

}

.BH70sp .video h5 {
  position: absolute;
  top: 4%;
  left: 3%;

  font-size: 20px;
}

.BH70sp .cata h5 {
  position: absolute;
  top: 37%;
  left: 3%;

  font-size: 20px;
}


.BH70sp .download a {
  position: absolute;
  top: 42%;
  left: 3%;

  font-size: 20px;
}

.BH70sp .pic {
  position: absolute;
  top: 50%;
  width: 94%;
  height: 24.75%;
  left: 3%;
}

.BH70sp .spec h5 {
  position: absolute;
  top: 88%;
  left: 3%;

  font-size: 20px;
}

.BH70sp .specimg {
  position: absolute;
  top: 92%;
  left: 3%;
  width: 94%;
}

.BH70sp .caution p {
  position: absolute;
  top: 75%;
  left: 3%;

  font-size: 12px;
}